:root {
	--primary-text-color: #212121;
	--secondary-text-color: #ffffff;
	--ouwer-text-color: #757575;
	--acent-color: #2196f3;
	--logo-color-text: #000000;
	--buttons-port-color: #f5f4fa;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--footer-bg-color: #2f303a;
	--background-section: #f5f4fa;
	--background-color: #ffffff;
	--header-wrap-color: #ececec;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
ul,
ol {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

button {
	cursor: pointer;
	font-family: inherit;
}

address {
	font-style: normal;
}

img {
	display: block;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

a {
	text-decoration: none;
	font-style: normal;
}

body {
	background-color: var(--background-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	font-size: 14px;
	margin: 0;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* -----ХЕДЕР----- */

.page-header {
	padding-top: 24px;
	padding-bottom: 25px;
}

.header-wrap {
	border-bottom: 1px solid var(--header-wrap-color);
	display: flex;
	align-items: center;
}

.logo {
	color: var(--logo-color-text);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	margin-right: 93px;
}

.logo-word {
	color: var(--acent-color);
}

.header-nav {
	display: flex;
	align-items: center;
}

.hader-nav-list {
	display: flex;
	align-items: center;
	gap: 50px;
	margin-right: 347px;
}

.link-nav {
	color: var(--primary-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.link-nav.curren {
	color: var(--primary-text-color);
}

.link-nav:hover,
.link-nav:focus {
	color: var(--acent-color);
}

.link-nav {
	color: var(--acent-color);
}

/* -----КОНТАКТИ----- */

.contact {
	display: flex;
	align-items: center;
}

.contact-item:not(:first-child) {
	margin-left: 47px;
}
.contact-link {
	color: var(--ouwer-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
	color: var(--acent-color);
}

/* -----ГЕРОЙ----- */

.hero {
	background-color: var(--footer-bg-color);
	padding-top: 200px;
	padding-bottom: 200px;
}

.hero-title {
	color: var(--secondary-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	max-width: 696px;
	margin: 0 auto 30px;
}

.hero-button {
	display: block;
	color: var(--secondary-text-color);
	background-color: var(--acent-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	min-width: 216px;
	height: 50px;
	padding: 10px 32px;
	margin: 0 auto;
	border-radius: 4px;
}

/* -----ОСОБЛИВОСТІ----- */

.features-title {
	color: var(--primary-text-color);
	font-size: 14px;
	line-height: 1.14px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-top: 37px;
}

.features-list {
	display: flex;
	gap: 30px;
}

.features-item {
	width: 270px;
}

.features-text {
	color: var(--ouwer-text-color);
	line-height: 1.71;
	margin-top: 10px;
}

/* -----ДІЯЛЬНІСТЬ----- */

.work-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}

.work-list {
	display: flex;
	gap: 30px;
}

/* -----КОМАНДА----- */

.team {
	background-color: var(--background-section);
}

.section-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}

.team-list {
	display: flex;
	gap: 30px;
	text-align: center;
}

.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	margin-top: 30px;
}

.team-work {
	color: var(--ouwer-text-color);
	font-size: 16px;
	line-height: 1.18;
	margin-top: 10px;
}

/* -----ПОРТФОЛІО----- */

.portfolio-button {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}

.button {
	color: var(--primary-text-color);
	background-color: var(--buttons-port-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	bottom: 6px 22px;
	border-radius: 4px;
}
.button:hover,
.button:focus {
	color: var(--background-color);
	background-color: var(--acent-color);
	cursor: pointer;
}

.portfolio-picters {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-item {
	border-bottom: 1px solid var(--header-wrap-color);
}

.project-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin: 20px 24px 4px;
	width: 322px;
}
.project-name {
	color: var(--ouwer-text-color);
	font-size: 16px;
	line-height: 1.87;
	width: 322px;
	margin: 0 24px 20px;
}

/* -----ПІДВАЛ----- */

.footer-background {
	background-color: var(--footer-bg-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-logo {
	color: var(--secondary-text-color);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}

.footer-map {
	display: inline-block;
	color: var(--secondary-text-color);
	line-height: 1.71;
	margin-top: 20px;
}

.footer-contact-link {
	color: var(--footer-text-color);
	line-height: 1.71;
	margin-top: 9px;
}

.footer-item-tel {
	margin-top: 9px;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
	color: var(--acent-color);
}
